$color1: red;
$color2: blue;
$color3: rgb(235, 9, 9);
$color4: white;
body{
    background-color: orange;
}
p{
    color: $color3;
    border: 5px solid $color3;
}
h1{
    color: $color2;
}
h2{
    color: $color3;
}
h2{
    background-color: $color4;
}