$color1: darkgoldenrod;
$color2: blue;
$color3: rgb(235, 9, 9);
$color4: white;
body{
    background-color: $color1;
}
@font-face {
    font-family: Abang ;
    src: url(../Assets/Abang.otf);
}
@font-face{
    font-family: Abrosia ;
    src: url(../Assets/Abyssal\ Horrors.ttf);
}
nav{
    font-family: Abang;
}
header{
    font-family: Abrosia;
}
div.row{
    font-family: Abrosia;
}
h1{
    font-family: Abrosia;
}
h2{
    font-family: Abrosia;
}
h3{
    font-family: Abrosia;
}
h4{
    font-family: Abrosia;
}