$color1: darkgoldenrod;
$color2: #574eff;
$color3: #f04eff;
$color4: #fd586b;
$color5: #58fdd1;
body{
    background-color: $color1;
}
@font-face {
    font-family: Abang ;
    src: url(../Assets/Abang.otf);
}
@font-face{
    font-family: Abrosia ;
    src: url(../Assets/Abyssal\ Horrors.ttf);
}
nav{
    font-family: Abang;
}
header{
    font-family: Abrosia;
}
div.row{
    font-family: Abrosia;
}
h1{
    font-family: Abrosia;
}
h2{
    font-family: Abrosia;
}
h3{
    font-family: Abrosia;
}
h4{
    font-family: Abrosia;
}
header{
    @media (max-width: 720px) {
        color: $color2;
    }
}
main{
    @media (max-width: 720px) {
        color: $color3;
    }

}
$num-nav-items: 4;
.navbar-nav {
@for $i from 1 through $num-nav-items {
    li:nth-child(#{$i}) {
    transition: background-color 0.6s ease;
    &:hover {
        background-color: darken(rgb(253, 191, 5), 1%);
    }
    }
}
}
